node_modules
.node_modules
build

dist/           # Ignores any dist folder anywhere
packages/*/dist/ # Explicitly ignores package dist folders
*.tsbuildinfo   # Ignores TypeScript build cache

goals.txt
pnpm-lock.yaml
package-lock.json
yarn.lock
.DS_Store
.env
.env.local
.env.development
.env.test
.env.production
.turbo
/cookies
/daemon
